@using DAL.BLModels;
@using DAL.Models;
@model List<BLVideo>

@foreach (var item in Model)
{
    <div id="video-" + id" class="video-container">
        <p class="video-name">@item.Name</p>
        <div class="btn-container">
            <a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Videos")/@item.Id">Delete</a>
            <a class="btn btn-sm btn-info" href="@Url.Action("Edit", "Videos")/@item.Id">Edit</a>
            <a class="btn btn-sm btn-primary" href="@Url.Action("Details", "Videos")/@item.Id">Details</a>
        </div>
    </div>
}
