@using DAL.Models;
@{
    Video video = ViewData["video"] as Video;
}

@section head {
    <link rel="stylesheet" href="~/css/videos-details.css" asp-append-version="true" / >
}

<div id="video-container">
    <div id="content">
        <p>Title: <span>@video.Name</span></p>
        <p><span>@video.Description</span></p>
        <p>Genre: <span>@video.Genre</span></p>
        <p>Duration: <span>@video.GetPrettyTotalTime()</span></p>
    </div>

    <div id="controls">
        <a class="btn btn-sm btn-danger" href="/videos/delete/@video.Id">Delete</a>
        <a class="btn btn-sm btn-info" href="/videos/edit/@video.Id">Edit</a>
    </div>
</div>
