@using DAL.Models;
@model Video

@section head {
    <link rel="stylesheet" href="~/css/videos-details.css" asp-append-version="true" / >
}

<div id="video-container">
    <div id="content">
        <p>Title: <span>@Model.Name</span></p>
        <p><span>@Model.Description</span></p>
        <p>Genre: <span>@Model.Genre</span></p>
        <p>Duration: <span>@Model.GetPrettyTotalTime()</span></p>
    </div>

    <div id="controls">
        <a class="btn btn-sm btn-danger" href="/videos/delete/@Model.Id">Delete</a>
        <a class="btn btn-sm btn-info" href="/videos/edit/@Model.Id">Edit</a>
    </div>
</div>
